# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*node_modules*
*npm*
LetsWrite/public/vite.svg
LetsWrite/.env
LetsWrite/.gitignore
LetsWrite/package-lock.json
LetsWrite/package.json
LetsWrite/postcss.config.js
LetsWrite/tailwind.config.js
LetsWrite/vite.config.js
project5/src/App.jsx
project5/tailwind.config.js
.gitignore
LetsWrite/src/assets/react.svg
LetsWrite/.eslintrc.cjs
project5/src/App.jsx
project5/tailwind.config.js
.gitignore
project5/src/App.jsx
project5/tailwind.config.js
.gitignore
